:root {
  --image-size: 50%;
}

.title {
/*   background-color: blue; */
/*   margin-left: 0px; */
}

.profileimage {
/*   border-radius: 50%; */
  width: var(--image-size);
  height: auto;
  margin-bottom: 30px;
}

.navbar-brand a {
  text-color: black;
}

.project-sample {
  max-width: 90%;
  text-align:center;
}

.modal img {
	margin-bottom: 0.5rem;
}

#left {
	padding: 75px 25px 0px 50px;
}

#right {
	padding: 15px 100px 0px 100px;
}

#left p {
	margin-top: 15px;
	padding-left: 50px;
	padding-right: 35px;
}

.card {
	margin-top: 10px;
	margin-bottom: 20px;
	margin-left: 8px;
}
.navbar-brand {
	/*text-decoration: none;*/
	color: black;
	font-size: 2.5rem;
}

.pirate {
	color: black;
	font-size: 1.3rem;
	padding-top: 0.95rem;
	/*padding: 0.5rem 0.5rem 0.5rem 0.5rem;
	display: block;
	border: none;
	text-decoration: none;
	background-color: transparent;
	line-height: 1.5;*/
}

.pirate:hover {
	border-bottom: .15rem solid black;
}

nav a:hover {
	color: #687487;
}

nav a:active {
	color: red;
	text-decoration: underline;
}


/*nav a:visited {
	color: #687487;
}*/

.card-header {
	font-size: 1.65rem;
}

h2 {
	font-size: 1.675rem;
	font-weight: 450;
	letter-spacing: 0.1rem;
}

h2 span {
	border-bottom: .15rem solid black;
	padding-left: .1rem;
	padding-right: .5rem;
}

.custom-card-container {
	padding-top: .0.05rem;
	padding-left: .1rem;
}

.custom-project-container {
	padding-top: .0.05rem;
}

.card-header {
	font-size: 1.2rem;
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 3;
    }
}


.link-icon-cont {
	/* background-color: chartreuse; */
	display: flex;
	justify-content: space-evenly;
}

.link-icon-cont img {
	width: 2rem;
	height: auto;
	margin-top: 1rem;
}

 /* #github-logo {
	width: 50%; 
	height: auto;
	width: 2rem;
}

#linkedin-logo {
	width: 2rem;
	height: auto;
}  */

#contact-me {
	text-align: center;
	color: black;
	padding-left: auto;
	padding-right: auto;
	margin-top: 1rem;
}

#contact-me a {
	color: black;
}