html, body {
  background-color: rgba(60, 54, 54, 0.371);
  color: #fff;
  height: 100%;
  margin: 0;
}

.content-container {
  /* background-color: aquamarine; */
  display: flex;
  flex-flow: column;
  height: 100%;
}

/* Set the size of the div element that contains the map */
#map {
  height: calc(100% - 2px);
  /* The height is 400 pixels */
  width: 100%;
  /* The width is the width of the web page */
}

/* Remove loading indicator from page flow and center it */
#loading-indicator-background {
  position: absolute;
  z-index: 1;
  background-color: black;
  opacity: 0.5;
  height: 100%;
  width: 100%;
  display: none;
}

#loading-indicator-wrapper {
  /* background-color: azure; */
  opacity: 1;
  position: absolute;
  z-index: 2;
  width: 25%;
  left: calc(50% - 12.5%);
  height: 25%;
  top: calc(50% - 12.5%);
  display: none;
}

#loading-indicator {
  position: relative;
  text-align: center;
}

/* react components */
#query-interface-container {
  background-color: rgb(216, 202, 202);
  color: #444;
  /* opacity: 1.0; */
  /* position: absolute; */
  padding: 0.25rem;
}

/* .query div {
  display: flex;
  justify-content: space-around;
}  */

label {
  margin-left: 1rem;
  font-weight: 550;
}

.query input {
  /* max-height: 1rem; */
  /* margin-top: 0.25em; */
  margin-left: 0.5rem;
  
}

.query h3 {
  margin-block-start: 0.5em;
  margin-block-end: 0.4em;
}

.query 

input {
  padding: 0.25rem;
}
button { 
  padding: 0.25rem;
}

.keywordIn textarea {
  margin: 0 1rem 0.5rem 1rem;
  
}


/* typography */
.title {
 color: #fff;
}

.subtitle {
  color: aliceblue;
}

h1 + p {
  margin: -1% 0 0 1%;
}

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.georgia {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.gray-444 {
    color: #444;
}

.gray-222 {
    color: #222;
}

.small {
    font-size: 1em;
    line-height: 20px;
}

.mega {
    font-size: 4em;
    letter-spacing: -2px;
    line-height: 25px;
}

.bold {
    font-weight: bold;
}
